{
  "extends": [
    "@puncsky/eslint-config-onefx",
    "@puncsky/eslint-config-onefx-react"
  ],
  "rules": {
    "@typescript-eslint/ban-types": 0
  },
  "ignorePatterns": ["src/client/static/**/*"]
}
